# OS / system files
.DS_Store
Thumbs.db

# Jupyter and notebooks (if you ever add examples)
.ipynb_checkpoints/

# Editors / IDEs
.vscode/
.idea/

# Temporary / cache / virtual environments
__pycache__/
*.pyc
.env/
env/
.conda/
venv/
*.lock
*.bak
*.log

# Misc
*.tmp
